/* VARIABLES */
$background-color: #210002;
$primary-color: #FFAF00;
$secondary-color: #973700;
$size: 30px;

/* FONT */
@font-face {
	font-family: "Ninja Naruto";
	src: url("../fonts/Njnaruto/njnaruto.ttf") format("truetype")
}

@font-face {
	font-family: "Noto";
	src: url("../fonts/Noto/NotoSansJP-Medium.otf") format("otf")
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto/Roboto-Thin.ttf") format("truetype")
}

@font-face {
	font-family: "Roboto Bold";
	src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype")
}

@font-face {
	font-family: "Roboto Medium";
	src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype")
}


/* RESET */
* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: top
}


/* GLOBAL */

html {
	background-color: $background-color;
	color: $primary-color;
	font-family: 'Roboto';
	font-weight: 300;
	font-style: normal;
	text-align: center;
	font-size: $size*0.75;

	a {
		text-decoration: none;
		color: inherit;
	}

	a:hover {
		color: $secondary-color;
	}
	
	body {
		position: relative;
	}
	
	h1, h2,	h3,	h4 {
		text-transform: uppercase;
		color: inherit;
	}
	
	h1 {
		font-family: 'Roboto Bold';
		font-size: $size*2;
	}

	h2 {
		color: $secondary-color;
		font-family: 'Roboto Medium';
	}
}

/* HEADER */

header {
	display: block;
	height: 1000px;
	position: relative;
	z-index: 10;


	.layer {
		background-position: bottom center;
		background-size: auto 1038px;
		background-repeat: repeat-x;
		width: 100%;
		height: 1000px;
		position: absolute;

		&.parallax {
			position: fixed;
		}

		&#layer-0 {
			background-image: url('../images/parallax/parallax0.png');
			background-color: $primary-color;
		}

		&#layer-1 {
			background-image: url('../images/parallax/parallax1.png');
		}

		&#layer-2 {
			background-image: url('../images/parallax/parallax2.png');
		}

		&#layer-3 {
			background-image: url('../images/parallax/parallax3.png');
		}

		&#layer-4 {
			background-image: url('../images/parallax/parallax4.png');
		}

		&#layer-5 {
			background-image: url('../images/parallax/parallax5.png');
		}

		&#layer-6 {
			background-image: url('../images/parallax/parallax6.png');
		}

		&#layer-7 {
			background-image: url('../images/parallax/parallax7.png');
		}

		&#layer-8 {
			background-image: url('../images/parallax/parallax8.png');
		}

		&#layer-scrim {
			background-color: $primary-color;
			opacity: 0;
		}
	}

}

@media only screen and (max-device-width: 450px) {
	/* PARALLAX */

	header {
		height: 550px;

		.layer {
			position: absolute;
			background-size: auto 600px;
		}
	}
}

/* NAVBAR */

.navbar {
	width: calc(100% - $size*4);
	background-color: $background-color;
	top: 0;
	padding: $size $size*2;
	z-index: 100;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&.sticky {
		position: fixed;
	}

	.logo {
		display: inline-block;
		font-family: 'Ninja Naruto';
		width: 240px;
		vertical-align: middle;
	}

	.nav-links {
		list-style: none;
		display: flex;

		.nav-item a {
			display: inline-block;
			padding: calc($size / 2) $size;
			text-decoration: none;
			color: $primary-color;

			img {
				height: $size;
				fill: $primary-color
			}
		}
	}
}

/* MAIN */

main {
	display: flex;
	justify-content: space-between;
	position: relative;
	top: 0;
	width: calc(100% - $size*8);
	height: 400px;
	padding: $size*2 $size*4;
	background-color: $background-color;
	z-index: 100;

	&.sticky {
		padding: $size*2;
	}

	.description {
		display: block;
		width: 50%;
		text-align: left;

		h1, p, a {
			padding-bottom: $size;
		}

		img {
			width: $size*1.5;
			height: $size*1.5;
			padding-left: $size;
		}
	}

	.list {
		display: flex;
		justify-content: space-around;
		width: 50%;

		.nft-group {
			display: block;
			width: $size*6;

			&.not-align {
				margin-top: $size;
			}

			.nft {
				width: $size*6;
				height: $size*6;
				border-radius: $size;
				margin-bottom: $size;
			}
		}
	}
}

/* FOOTER */

footer {
	display: block;
	position: relative;
	width: 100%;
	bottom: 0;
	height: 150px;
	z-index: 1000;
	padding-top: $size * 2;
	background-color: $background-color;

	.citation{
		font-family: 'Noto';
		font-size: 26px;
		letter-spacing: 4px;
	}

	.logo {
		padding-top: $size;
		font-family: 'Ninja Naruto';
		color: $secondary-color;
	}
}